body {
	height: 500vh;
	background-color: #594D48;
	margin: 0 auto;
	padding: 0;
}



.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url("../images/home_background.png");
  width: 100%;
  height: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  font-family: 'IBM Plex Sans', sans-serif;
  top: 50%;
  left: 30%;
  justify-content: center;
  transform: translate(-20%, -50%);
  margin-top: 20px;
  margin-bottom: 20px;

}

#candid-text {
	color: #A83A26;
	font-size: 60px;
  font-style: italic;
	
}

#about-text {
	color: #DA9C85;
	font-size: 80px;
}

.des-text{
	color: #DE87A4;
	font-weight: bolder;
	font-size: 20px;	
}

nav.menu {
    position: absolute;
    left: -200px;
    width: 200px;
    min-height: 250px;
    background-color: #DA9C85;
    transition: .3s all;
}

nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: #A2310D;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
}
.div {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}


.menu_show {
    left: 0!important;
}

.top, a.menu_icon {
    position: absolute;
    color: #A2310D;
    font-size: 40px;
    padding-top: 95px;
    padding-left: 5%;
    transition: .25s ease;
    font-family: 'IBM Plex Mono', monospace;
    /*font-style: italic; */
}

.top, a.menu_icon:hover {
    color: white;
}

a.menu_item{
  transition: .25s ease;
}

a.menu_item:hover {
  color: white;
}

/*SERVICE CARDS---*/

.picBox {
 
  background-image: url(../images/bad_jack.jpg);
  justify-content: center;
  border:5px solid #59392E;
  left: 26%;
  margin: 40px auto;
  width: 600px;
  height: 416px;

  /*padding: 10px;*/
  background-color: rgba(218, 156, 133, 1);
  padding-bottom: 5px;
  position: absolute;
  transform: translate(0, 10%);  
}

.textBox{
  text-align: center;
  border:5px solid #59392E;
  margin: 40px auto;
  width: 600px;
  height: 416px;
  /*padding: 10px;*/
  background-color: rgba(218, 156, 133, 0);
  padding-bottom: 5px;
  transition: .5s ease;
  position: relative;
  transform: translate(0, 10%);
}

.text_show {
  background-color: rgba(218, 156, 133, .9);
}

.mission-head {
  font-size: 40px;
  font-family: 'IBM Plex Mono', monospace;
  text-align: left;
  transform: translate(0, -5%);
  /*text-decoration: underline;*/
}

.mission-text {
  position: relative;
  font-size: 25px;
  font-family: 'IBM Plex Mono', monospace;
}

.number-text {
  color: #2C6998;
}
