<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/about.js"></script>
</head>
<body>

		<div class="hero-image">
		  <div class="hero-text">
		    <h1 id="candid-text" >Candid Conversations</h1>
		    <h1 id="about-text" >About</h1>
		  </div>
		  <a href="#" class="top menu_icon">Menu</a>
		</div>
		 
	
	<nav class="menu">
		<a href="../index.html" class="menu_item">Home</a>
		<a href="../templates/about.html" class="menu_item">About</a>
		<a href="../templates/events.html" class="menu_item">Events</a>
		<a href="../templates/services.html" class="menu_item">Services</a>
		<a href="../templates/contact.html" class="menu_item">Contact</a>
	</nav>
	
	<div class="textBox">
		<h2 class="mission-head">Mission:</h2>

		<p class="mission-text">Candid Conversations is a panel-discussion based platform tackling the intersection of race/ethnic identity and mental health. 
		</p>
	</div>
	<div class="textBox">
		<h2 class="mission-head">Team: (See Below)</h2>
	</div>

<!-- SLIDESHOW--- -->


		<div class="mySlides fade">
			<div class="picture">
				<img class="pic_container" src="../images/sam_prof.jpg"alt="Young African-American Male">
				<p class="mission-text">Samuel is an Internation Studies Major hoping to go into the political arena. He is the Founder & Director of Candid Conversations.</p>
				<div class="textBox">
					<p class="name-text">Samuel Blackwood</p>
				</div>
			</div>
		</div>


		<div class="mySlides fade">
			<div class="picture">
				<img class="pic_container" src="../images/shanen_prof.jpg"alt="Young Caucasian Male">
				<p class="mission-text">Shanen is a New Media and Digital Design Major hoping to make a career of graphic design. He manages Promotion & Outreach. </p>
				<div class="textBox">
					<p class="name-text">Shanen Seale</p>
				</div>
			</div>
		</div>


		<div class="mySlides fade">
			<div class="picture">
				<img class="pic_container" src="../images/abhi_prof.jpg"alt="Young Indian Male">
				<p class="mission-text">Abhi is an Economics Major planning on going to law school. He Handles Operations & Funding.</p>
			<div class="textBox">
				<p class="name-text">Abhi Saraff</p>
			</div>
		</div>
	</div>

	<a class="prev">&#10094;</a>
	<a class="next">&#10095;</a>
		
	<!-- dots -->
	<div class="dots">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		
	
	</div>

</body>
</html>