<!DOCTYPE html>
<html>
<head>
	<title>Events Page</title>
	<link rel="stylesheet" type="text/css" href="../css/events.css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/events.js"></script>
</head>
<body>

		<div class="hero-image">
		  <div class="hero-text">
		    <h1 id="candid-text" >Candid Conversations</h1>
		    <h1 id="about-text">Events</h1>
		  </div>
		  <a href="#" class="top menu_icon">Menu</a>
		</div>
		 
	
	<nav class="menu">
		<a href="../index.html" class="menu_item">Home</a>
		<a href="../templates/about.html" class="menu_item">About</a>
		<a href="../templates/events.html" class="menu_item">Events</a>
		<a href="../templates/services.html" class="menu_item">Services</a>
		<a href="../templates/contact.html" class="menu_item">Contact</a>
	</nav>
	<div class="event_block_size">
		<div class="page_pic_pos">
					<img src="../images/candid_event.jpg" alt="Picture of a hiker's Large" class="page_pic_size">
				</div>
			<div class="top_margin">
				<div class="para_box_pos ">
						
						<p class="event-text">Come to Room G-76A at Fordham Lincoln Center for discussion featuring a panel of well known Fordham Students who get asked the hard-hitting questions. After we'll have some amazing food and we can all talk about the experience together.</p>
						
				</div>
				<div id="date-box" class="para_box_pos ">
					<p class="date-text">10/26|5:30PM</p>
				</div>
		</div>
	</div>
	<div class="event_block_size">
		<div class="page_pic_pos">
					<img src="../images/kanye_event.jpg" alt="Picture of a hiker's Large" class="page_pic_size">
				</div>
			<div class="top_margin">
				<div class="para_box_pos ">
						
						<p class="event-text">We do not have any upcoming events just yet but we partnered with the office of multicultural affairs and we are funded to do a monthly panel event next semester. In place is this cartoon Kanye.</p>
						
				</div>
				<div id="date-box" class="para_box_pos ">
					<p class="date-text">9/11|6:30PM</p>
				</div>
		</div>
	</div>	
	<div class="event_block_size">
		<div class="page_pic_pos">
					<img src="../images/panel_event.jpg" alt="Picture of a hiker's Large" class="page_pic_size">
				</div>
			<div class="top_margin">
				<div class="para_box_pos ">
						
						<p class="event-text">We do not have any upcoming events just yet but we partnered with the office of multicultural affairs and we are funded to do a monthly panel event next semester. This placeholder is a very typical event poster.</p>
						
				</div>
				<div id="date-box" class="para_box_pos ">
					<p class="date-text">9/21|4:00PM</p>
				</div>
		</div>
	</div>	
</body>
</html>