<!DOCTYPE html>
<html>
<head>
	<title>Contact Page</title>
	<link rel="stylesheet" type="text/css" href="../css/contact.css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/contact.js"></script>
</head>
<body>

		<div class="hero-image">
		  <div class="hero-text">
		    <h1 id="candid-text" >Candid Conversations</h1>
		    <h1 id="about-text">Contact Us</h1>
		  </div>
		  <a href="#" class="top menu_icon">Menu</a>
		</div>
		 
	
	<nav class="menu">
		<a href="../index.html" class="item_menu">Home</a>
		<a href="../templates/about.html" class="item_menu">About</a>
		<a href="../templates/work.html" class="item_menu">Events</a>
		<a href="../templates/interests.html" class="item_menu">Services</a>
		<a href="../templates/contact.html" class="item_menu">Contact</a>
	</nav>
</body>
</html>