<!DOCTYPE html>
<html>
<head>
	<title>Events Page</title>
	<link rel="stylesheet" type="text/css" href="../css/services.css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/services.js"></script>
</head>
<body>

		<div class="hero-image">
		  <div class="hero-text">
		    <h1 id="candid-text" >Candid Conversations</h1>
		    <h1 id="about-text">Services</h1>
		  </div>
		  <a href="#" class="top menu_icon">Menu</a>
		</div>
		 <div class="back_image"></div>
	
	<nav class="menu">
		<a href="../index.html" class="menu_item">Home</a>
		<a href="../templates/about.html" class="menu_item">About</a>
		<a href="../templates/events.html" class="menu_item">Events</a>
		<a href="../templates/services.html" class="menu_item">Services</a>
		<a href="../templates/contact.html" class="menu_item">Contact</a>
	</nav>

	<!--SERVICE CARDS----->	

	<div class="picBox"></div>
	<div class="textBox">
		<h2 class="mission-head">If this is what your mind is telling you:</h2>

		<p class="mission-text">Call this number</p>
		<a class="mission-text number-text" href="https://suicidepreventionlifeline.org/">1-800-273-8255</a>
		<p class="mission-text">(or click the link, that works too)</p>
	</div>



</body>
</html>